Repository ansys/aali-flowkit-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']

remove tag from name for testing
  .github/workflows/test.yml
Labels: maintenance

remove unwanted character
  .github/workflows/test.yml
Labels: maintenance

fix naming issue
  .github/workflows/test.yml
Labels: maintenance

remove runner arch
  .github/workflows/test.yml
Labels: maintenance

log for debug
  .github/workflows/test.yml
Labels: maintenance

change path
  .github/workflows/test.yml
Labels: maintenance

remove debug log
  .github/workflows/test.yml
Labels: maintenance

remove test pipeline and add changes to ci/cd
  .github/workflows/ci_cd.yml
  .github/workflows/test.yml
Labels: maintenance

fix pre-commit issues
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: add binary os (#56)
  .github/workflows/ci_cd.yml
Labels: maintenance

test if windows naming works
  .github/workflows/test.yml
Labels: maintenance

remove ref for testing
  .github/workflows/test.yml
Labels: maintenance

fix windows naming
  .github/workflows/ci_cd.yml
Labels: maintenance

remove testing pipeline
  .github/workflows/test.yml
Labels: maintenance

fix: windows binary name (#57)
  .github/workflows/ci_cd.yml
Labels: maintenance

ALLIE --> AALI name changes
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  AUTHORS
  CONTRIBUTING.md
  README.md
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  docker/Dockerfile
  pyproject.toml
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

ALLIE->AALI
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  AUTHORS
  CONTRIBUTING.md
  README.md
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  docker/Dockerfile
  pyproject.toml
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

Needed to revert main changes to put in branch Revert "ALLIE --> AALI name changes"
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  AUTHORS
  CONTRIBUTING.md
  README.md
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  docker/Dockerfile
  pyproject.toml
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

test binary creation
  .github/workflows/test.yml
Labels: maintenance

modify ref name for testing
  .github/workflows/test.yml
Labels: maintenance

Removed ansys-internal references
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
Labels: maintenance

added pre-commit hooks changes
  .pre-commit-config.yaml
Labels: maintenance

start year hook
  .pre-commit-config.yaml
  LICENSE
  doc/source/conf.py
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/__init__.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  src/allie/flowkit/models/__init__.py
  src/allie/flowkit/models/functions.py
  src/allie/flowkit/models/mechscriptbot.py
  src/allie/flowkit/models/splitter.py
  src/allie/flowkit/utils/__init__.py
  src/allie/flowkit/utils/decorators.py
  tests/__init__.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

Add main release logic
  .github/workflows/ci_cd.yml
Labels: maintenance

Add workflow_dispatch trigger to ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

removed dispatch trigger
  .github/workflows/ci_cd.yml
Labels: maintenance

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

python versioning issues
  .github/workflows/ci_cd.yml
Labels: maintenance

packaging issues
  .github/workflows/ci_cd.yml
Labels: maintenance

testing python once again
  .github/workflows/ci_cd.yml
Labels: maintenance

added AALI changes again?
  .gitignore
  AUTHORS
  CONTRIBUTING.md
  README.md
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  docker/Dockerfile
  pyproject.toml
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

src changes
  pyproject.toml
Labels: maintenance

directory change
  src/aali/flowkit/__init__.py
  src/aali/flowkit/__main__.py
  src/aali/flowkit/config/__init__.py
  src/aali/flowkit/config/_config.py
  src/aali/flowkit/endpoints/__init__.py
  src/aali/flowkit/endpoints/mechscriptbot.py
  src/aali/flowkit/endpoints/splitter.py
  src/aali/flowkit/fastapi_utils.py
  src/aali/flowkit/flowkit_service.py
  src/aali/flowkit/models/__init__.py
  src/aali/flowkit/models/functions.py
  src/aali/flowkit/models/mechscriptbot.py
  src/aali/flowkit/models/splitter.py
  src/aali/flowkit/utils/__init__.py
  src/aali/flowkit/utils/decorators.py
Labels: none

documentation vale fixes
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: none

vale changes
  doc/.vale.ini
Labels: none

ALLIE --> AALI Name Changes (#58)
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  .gitignore
  .pre-commit-config.yaml
  AUTHORS
  CONTRIBUTING.md
  LICENSE
  README.md
  doc/.vale.ini
  doc/make.bat
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  docker/Dockerfile
  pyproject.toml
  src/aali/flowkit/__init__.py
  src/aali/flowkit/__main__.py
  src/aali/flowkit/config/__init__.py
  src/aali/flowkit/config/_config.py
  src/aali/flowkit/endpoints/__init__.py
  src/aali/flowkit/endpoints/mechscriptbot.py
  src/aali/flowkit/endpoints/splitter.py
  src/aali/flowkit/fastapi_utils.py
  src/aali/flowkit/flowkit_service.py
  src/aali/flowkit/models/__init__.py
  src/aali/flowkit/models/functions.py
  src/aali/flowkit/models/mechscriptbot.py
  src/aali/flowkit/models/splitter.py
  src/aali/flowkit/utils/__init__.py
  src/aali/flowkit/utils/decorators.py
  tests/__init__.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: documentation, maintenance, testing

quick tagging update
  .github/workflows/ci_cd.yml
Labels: maintenance

binary naming upload issue
  .github/workflows/ci_cd.yml
Labels: maintenance

test binary creation
  .github/workflows/ci_cd copy.yml
Labels: maintenance

add complete os matrix
  .github/workflows/ci_cd copy.yml
Labels: maintenance
