Repository ansys/aali-flowkit-python, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

add support for dictionary
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/models/splitter.py
Labels: none

fix pre-commit errors
  src/allie/flowkit/models/splitter.py
Labels: none

fix: Whitelist attrs in license checker
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: add support for dictionary (#43)
  .github/workflows/ci_cd.yml
  src/allie/flowkit/fastapi_utils.py
Labels: maintenance

add models
  src/allie/flowkit/models/mechscriptbot.py
Labels: none

add endpoints
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

register the endpoint
  src/allie/flowkit/flowkit_service.py
Labels: none

use workflow var and fix cicd issues
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/flowkit_service.py
  src/allie/flowkit/models/mechscriptbot.py
Labels: none

lower case func name for style issue
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/flowkit_service.py
Labels: none

add returns in docstring
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

add license header and docstring for module
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

fix pre-commit errors
  LICENSE
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/__init__.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  src/allie/flowkit/models/__init__.py
  src/allie/flowkit/models/functions.py
  src/allie/flowkit/models/mechscriptbot.py
  src/allie/flowkit/models/splitter.py
  src/allie/flowkit/utils/__init__.py
  src/allie/flowkit/utils/decorators.py
  tests/__init__.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: testing

correct names
  src/allie/flowkit/flowkit_service.py
  src/allie/flowkit/models/mechscriptbot.py
Labels: none

Introduce MechScriptBot function (#46)
  LICENSE
  src/allie/flowkit/__init__.py
  src/allie/flowkit/__main__.py
  src/allie/flowkit/config/__init__.py
  src/allie/flowkit/config/_config.py
  src/allie/flowkit/endpoints/__init__.py
  src/allie/flowkit/endpoints/mechscriptbot.py
  src/allie/flowkit/endpoints/splitter.py
  src/allie/flowkit/fastapi_utils.py
  src/allie/flowkit/flowkit_service.py
  src/allie/flowkit/models/__init__.py
  src/allie/flowkit/models/mechscriptbot.py
  src/allie/flowkit/models/splitter.py
  src/allie/flowkit/utils/__init__.py
  src/allie/flowkit/utils/decorators.py
  tests/__init__.py
  tests/conftest.py
  tests/test_endpoints_splitter.py
  tests/test_list_functions.py
Labels: testing

put default values for response json
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

fix style issue with long line
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

fix pre-commit errors
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

Put default values for response json in mechscriptbot (#47)
  src/allie/flowkit/endpoints/mechscriptbot.py
Labels: none

Copy License to docker build
  docker/Dockerfile
Labels: none

comment license file in pyproject.toml
  pyproject.toml
Labels: maintenance

fix: Copy LICENSE file to docker build (#53)
  docker/Dockerfile
Labels: none

test build exec
  .github/workflows/test.yml
Labels: maintenance

Revert "test build exec"
  .github/workflows/test.yml
Labels: maintenance

test build executables
  .github/workflows/test.yml
Labels: maintenance

install pyinstaller
  .github/workflows/test.yml
Labels: maintenance

modify name
  .github/workflows/test.yml
Labels: maintenance

install all dependencies
  .github/workflows/test.yml
Labels: maintenance

fix metadata issue
  .github/workflows/test.yml
Labels: maintenance

-
  .github/workflows/test.yml
Labels: maintenance

t
  .github/workflows/test.yml
Labels: maintenance

add binary creation to workflow
  .github/workflows/ci_cd.yml
  .github/workflows/test.yml
Labels: maintenance

add windows sign tool
  .github/workflows/test.yml
Labels: maintenance

add sign windows binary job to ci/cd
  .github/workflows/ci_cd.yml
  .github/workflows/test.yml
Labels: maintenance

update ansys actions to v9
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: build executables (#54)
  .github/workflows/ci_cd.yml
Labels: maintenance

add binaries to release
  .github/workflows/ci_cd.yml
Labels: maintenance

fix pre-commit issues
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: add binaries to release (#55)
  .github/workflows/ci_cd.yml
Labels: maintenance

test adding distribution
  .github/workflows/test.yml
Labels: maintenance

fix continue on error
  .github/workflows/test.yml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'README.md']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'pyproject.toml', '.pre-commit-config.yaml']

testing:
- changed-files:
  - any-glob-to-any-file: ['tests/*']
